*,
*::after,
*::before{
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html{
  scroll-behavior: smooth;
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond(tab-land){
        font-size: 56.25%;                      //1rem = 9px , 9/16  56.25%        
      }
    
      @include respond(tab-port){
        font-size: 50%; 
                                        //1rem = 8px , 8/16  50%
        } 
    
        @include respond(phone){
          font-size: 30%;  
        }
      @include respond(big-desktop){
        font-size: 75%;                                //1rem = 12px 12/16  75%  
      }

}


.App{
  transition: all .8s;
}


.scroll-down{
  border: none;
  background: none;
  cursor: pointer;
  padding: 1rem;

  & i{
      font-size: 2rem;
      transition: all .5s;
      // font-weight: lighter;
      
  }
}

.scroll-container{
  position: absolute;
  bottom: 0;
  @include respond(phone){
    bottom: 80px;
  }
  &:hover  p{
    font-size: 1.5rem !important;
  }
  & p{
    transition: all .5s;
  }
}

.layer{
  transition: all .3s;
}


.page{
  background-color: white;
  width: 100%;
  // padding: 2rem 3rem;
}

.for-phone{
  display: none;
  @include respond(phone){
    display: block;
  }
}

.for-desktop{

  @include respond(phone){
    display: none;
  }
}
