.social{
    &__container{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
    }
    &__link{
        font-size: 3rem;
        transition: all .3s;
        @include respond(phone){
        font-size: 5rem;
        }
        &:hover{
            color: white !important;
        }
        // &:not(:last-child){
        //     margin-right: 5rem;
        // }
    }
}

#quick-links{
    padding: 3rem 1rem;
    background: rgb(21,68,192);
background: linear-gradient(148deg, rgba(21,68,192,1) 0%, rgba(21,68,192,1) 51%, rgba(36,81,199,1) 51%, rgba(36,81,199,1) 100%);
}