.social{
    &__container{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
    }
    &__link{
        font-size: 3rem;
        transition: all .3s;
        @include respond(phone){
        font-size: 5rem;
        }
        &:hover{
            color: white !important;
        }
        // &:not(:last-child){
        //     margin-right: 5rem;
        // }
    }
}

.education{
    &-container{
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    &__logoContainer{
        border-radius: 10px;
        padding: 3rem 5rem;
        text-align: center;
        @include respond(tab-port){
            margin-bottom: 5rem;
        }

        & img{
            width: 25rem;
        }
        & p{
            text-transform: uppercase;
           
        }
    }

    &__infoContainer{
        & h2{
            font-size: 3rem;
        @include respond(tab-port){
            font-size: 4rem;
        }
        }

        @include respond(tab-port){
            text-align: center;
        }
    }
}

#quick-links{
    padding: 3rem 1rem;
    background: rgb(21,68,192);
background: linear-gradient(148deg, rgba(21,68,192,1) 0%, rgba(21,68,192,1) 51%, rgba(36,81,199,1) 51%, rgba(36,81,199,1) 100%);
}