.dev{
    
}

.skills-list{
    list-style: none;

    & li{
        text-align: center;
        @include respond(phone){
            margin: 5rem;
        }
        & p{
            color: white;
        }
        & i{
            font-size: 7rem;
            @include respond(phone){
                font-size: 10rem;
            }
        }

        & img{
            width: 7rem;
            @include respond(phone){
                width: 10rem;
            }
        }
    }


}


.timeline-container{
    background: rgb(45,45,45);
    background: linear-gradient(90deg, rgba(45,45,45,0) 0%, rgba(45,45,45,0) 70%, rgba(255,245,90,1) 70%, rgba(255,245,90,1) 100%);
    @include respond(tab-port){
        background: rgb(45,45,45);
    background: linear-gradient(180deg, rgba(45,45,45,0) 0%, rgba(45,45,45,0) 70%, rgba(255,245,90,1) 70%, rgba(255,245,90,1) 100%);
    margin-bottom: 10rem;
    }
    @include respond(phone){
        margin-bottom: 15rem;
    background: linear-gradient(180deg, rgba(45,45,45,0) 0%, rgba(45,45,45,0) 80%, rgba(255,245,90,1) 80%, rgba(255,245,90,1) 100%);
    }
    padding: 5rem 3rem;
    &--reverse{
        background: rgb(45,45,45);
        background: linear-gradient(-90deg, rgba(45,45,45,0) 0%, rgba(45,45,45,0) 70%, rgba(255,245,90,1) 70%, rgba(255,245,90,1) 100%);
        @include respond(tab-port){
            background: rgb(45,45,45);
        background: linear-gradient(0deg, rgba(45,45,45,0) 0%, rgba(45,45,45,0) 70%, rgba(255,245,90,1) 70%, rgba(255,245,90,1) 100%);
        }
    }

}

.timeline-item{
    display: flex;
    justify-content: space-evenly;
    @include respond(tab-port){
        flex-direction: column;
    }
    &__info{

        width: 50%;
        @include respond(tab-port){
            width: 100%;
        }
        text-align: right;
        margin-right: 20px;
        @include respond(tab-port){
            text-align: center;
        }

        &--reverse{
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include respond(tab-port){
            display: block;
            text-align: center;
        }
        }

        &__name{
            font-size: 4rem;
            @include respond(tab-port){
                font-size: 6rem;
            }
        }

        &__position{
            color: white;
            font-size: 2rem;
            margin-top: 10px;
            @include respond(tab-port){
                font-size: 4rem;
            }
        }
        &__time{
            color: white;
            font-size: 1.8rem;
            margin-top: 10px;
            margin-top: 20px;
            @include respond(tab-port){
                font-size: 4rem;
            }
        }

        &__description{
            font-size: 1.8rem;
            font-weight: 300;
            margin-top: 20px;
            @include respond(tab-port){
                font-size: 4rem;
            }
            @include respond(phone){
                text-align: justify;
            }
            
        }

        &__list{
            list-style: none;
            font-size: 2rem;
            color: white;
            @include respond(tab-port){
                font-size: 4rem;
            }
            & li:not(:last-child){
            margin-bottom: 1rem;

        }
        }
    }
    &__thumb{
        text-align: center;
        position: relative;
        @include respond(phone){
            margin-bottom: 2rem
        }
        &:hover &__overlay{
            opacity: 1;
        }

        &__overlay{
            background-color: rgba(0, 0, 0, 0.616);
            backdrop-filter:  blur(4px) saturate(0);
            border-radius: 10px;
            width: 100%;
            @include respond(phone){
                width: 115%;
            }
            height: 100%;
            position: absolute;
            @include center;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            opacity: 0;
            transition: all .5s;
            & a{
                & i{
                    font-size: 6rem;
                    @include respond(phone){
                    font-size: 8rem;
                    }
                    color: inherit;
                    color: #fff55a;
                    transition: all .5s;
                }
                &:hover i{
                    transform: translateY(-10px);
                }
            }
          
            
        }
        @include respond(tab-port){
            margin-top: 30px;
        }
        & img{
            width: 50rem;
            border-radius: 10px;
            box-shadow: 6px 6px 32px -13px rgba(0,0,0,0.3);
            -webkit-box-shadow: 6px 6px 32px -13px rgba(0,0,0,0.3);
            -moz-box-shadow: 6px 6px 32px -13px rgba(0,0,0,0.3);
        }
    }
}


.widgett{
    font-size: 12px !important;
    --bg-color: #111;
    --header-bg-color: #222;
    --badge-bg-color: #333;
    --badge-text-color: #fff;
    --badget-font-size: 12px;
    --branding-text-color: #fff55a;
    --label-text-color: #fff;
    --legend-text-color: #fff;
    --axis-bg-color: #fff
}
