.carousel{
    &__container{
        position: relative;
        width: 100vw;
        height: 100vh;
        z-index: 9000;
    }

    &__item{
        width: 70rem;
        height: 40rem;
        background-position: center;
        background-size: cover;
        // @include center;
        z-index: 500;
        border-radius: 20px;
        @include respond(phone){
            width: 100vw;
            height: 100vh;
            border-radius: 0px !important;
        }
        
    }

    &__arrow{
        border: none;
        background: none;
        cursor: pointer;
        padding: 1rem;
        & i{
            font-size: 3rem;
            transition: all .5s;
            // font-weight: lighter;
        }
        @include respond(phone){
            display: none;
        }
    }
    &__img{
        width: 30rem;
        height: 50rem;
    }
    &__text{
        position: absolute;
        font-size: 10rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 4rem;
        transition: all .5s;
        display: flex;
        &--1{
        text-shadow: 3px -1px 2px rgba(0,0,0,0.34);
            top: 8rem;
            z-index: 200;
            &-test{
                top: 25%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30rem;
                &--design{
                  font-size: 20rem !important;
                }
                &--me{
                     letter-spacing: 1rem;
                     font-size: 10rem !important;
                  }
            }
        }
        &--2{
            bottom: 10rem;
            text-align: center;
            &-test{
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30rem;
                &--design{
                  letter-spacing: 4rem;
                  font-size: 20rem !important;
                  @include respond(tab-port){
                      font-size: 15rem !important
                  }
                }
                &--me{
                      bottom: 10%;
                     letter-spacing: 1rem;
                     font-size: 20rem;
                     @include respond(tab-port){
                     font-size: 10rem !important;
                     }
                  }
            }
            
        }
    }
}

.animate-text{
    animation: expand 1s forwards ease;
}

.BrainhubCarousel__container{
 display: flex !important;
 justify-content: center !important;
}