.gallery{
    &__carousel{
        width:  60rem;
        @include respond(tab-port){
            width: 80%;
        }
    }
}


.slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image{
        height: 85vh;
        @include respond (tab-port){
        max-width: 90vw;
        height: auto
        }
        border-radius: 10px;
    }
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: white;
}

.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: white;
}


.slide{
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08)
}