.gallery{
    &__carousel{
        width:  60rem;
        @include respond(tab-port){
            width: 80%;
        }
    }
}


.slider{
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(tab-land){
        margin-top: 4rem;
    }
    @include respond(tab-port){
        margin-top: 1rem;
    }

    &__image{
        height: 70vh;
        @include respond (tab-port){
        max-width: 70vw;
        height: auto
        }
        border-radius: 10px;
    }
}

.right-arrow,.left-arrow{
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: white;
    @include respond(tab-port){
        font-size: 6rem;
    }
}

.right-arrow{
    right: 32px;
}

.left-arrow{
    left: 32px;
}


.slide{
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08)
}