.navbar{
    position: fixed;
    z-index: 30000;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 0rem;
    transition: all .5s;
    width: 100vw;
    display: flex;
    justify-content: center;



    &__link{
        color: white;
        font-size: 1.5rem;
        text-transform: uppercase;
        &:not(:last-child){
            margin-right: 3rem;
        }
        text-decoration: none;
        transition: all .5s;
        position: relative;
        padding: 0.6rem;
        &:after{
            content: "";
            position: absolute;
            background-color: white;
            height: 3px;
            width: 0;
            left: 0;
        bottom: -5px;
        transition: all .3s;

        }
        @include respond(tab-port){
            font-size: 3rem;
        }
        &:hover{
            // letter-spacing: 3px;
            // text-decoration: underline;
        }
        &:hover:after{
            width: 100%;
        }
    }
}

#navbar{
    
    &__contact{
        position: absolute !important;
        right: 2rem;
    }
}